* {
  font-family: sans-serif;
}

body {
  background-color: rgb(233, 233, 233);
  max-width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 22px;
}

p {
  font-size: 16px;
  line-height: 25px;
  font-weight: lighter;
}

.container {
  background-color: rgb(235, 203, 73);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: aliceblue;
  padding: 20px;
  max-width: 338px;
  width: 100%;
  border-radius: 20px;
  /* border-style:none */
  box-shadow: 8px 8px 0px 0px;
  /* overflow: hidden; */
}

.img1 {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px 17px 25px;
  display: block;
  overflow: hidden;
}

.button {
  background-color: rgb(235, 203, 73);
  font-size: 15px;
  font-weight: bolder;
  padding: 4px 16px;
  border-radius: 4px;
  border: 0px;
  /* display: inline-block; */
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.message {
  color: rgb(119, 118, 118);
}

.author-name {
  font-weight: bold;
}
